*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(218, 23%, 16%);
}
.wrapper{
    width: 500px;
    background: hsl(217, 19%, 24%);
    /* border: 2px solid grey; */
    border-radius: 16px;
    position: relative;
}
.container{
    padding: 2rem 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
p{
    color: hsl(150, 88%, 52%);
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 12px;
}
h2{
    color: aliceblue;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}

.adviceBtn{
    position: absolute;
    bottom: -30px;
    background: hsl(150, 88%, 52%);
    border: 0;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.adviceBtn:hover{
    filter: drop-shadow(0 0 .75rem hsl(150, 88%, 52%) );
    transition: all .2s ease-out;
}

@media screen and (max-width:500px) {
    .wrapper{
        width: 350px;
    }
}